<br>
<h3 class="text-danger">Edit a friend</h3>
<br>
<form class="form-horizontal">
   <div class="form-group">
       <label class="col-md-2 control-label">First Name</label>
       <input type="text" value="{{friend.fname}}}" ng-model="friend.fname">
   </div>
   <div class="form-group">
       <label class="col-md-2 control-label">Last Name</label>
       <input type="text" value="{{friend.lname}}" ng-model="friend.lname">
   </div>
   <div class="form-group">
       <label class="col-md-2 control-label">Birthdate</label>
       <input type="date" value="{{friend.birthday}}" ng-model="friend.birthday">
   </div>
   <div class="form-group">
       <button type="submit" ng-click="edit()" class="btn btn-primary btn-sm">Update</button>
   </div>
</form>