<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Results</title>
</head>
<body>
	<h1>Here are the results</h1>
	<h3>Name: <%= info.name %></h3>
	<h3>Location: <%= info.location %></h3>
	<h3>Language: <%= info.fave %></h3>
	<h3>Comment: <%= info.comment %> </h3>
</body>
</html>